<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Smart house Admin Panel", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", "#" %></li>
        <li><%= link_to "Users", "/users" %></li>
        <li><%= link_to "Subjects", "/action_subjects" %></li>
        <li><%= link_to "Beacons", "/beacons" %></li>
      </ul>
    </nav>
  </div>
</header>